.cards {
  margin: 0 auto;
  padding: 15px;
  max-width: 1200px;
  min-width: 280px;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
}

@media (width > 480px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
