:root {
  --text-primary: #f3f3f3;
  --text-secondary: #878787;

  --border-light: #6e6e6e;

  --background-primary: #141414;
  --background-secondary: #1A1A1A;
  --background-accent: #744DF7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary);
}
